*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.ira{
    max-width: 150px;
}

header {
    display: flex;
    padding: 4vh;

}
header nav {
    display: flex;
    align-items: center;
    margin-left: 50vh;
}
header nav a{

    
}